@import "tailwindcss";

:root {
  background-color: #0a0a0a;
  font-family:'Arial Narrow', 'Arial', 'sans-serif';
  color: white;
}

.navBarItem{
  @apply text-gray-200 font-bold px-3 py-1 bg-indigo-800 rounded-xl
}

.h1-primary{
  @apply text-5xl justify-self-center mb-4
}

.p-primary{
  @apply my-2 text-xl
}